.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  border-radius: 1em;
  text-align: center;
  transition: all 0.3s ease;
}
.card:hover {
  background-color: rgba(0, 0, 0, 0.1);
  transform: translateY(-5px);
}

.card img {
  margin: auto;
  height: 200px;
  width: 200px;
  padding: 1em;
  object-fit: cover;
}

.img-circle {
  border-radius: 50%;
}

.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-additional {
  margin-top: auto;
}

.filter-btn.active {
  background-color: #0d6efd;
  color: white;
}

.card.hidden {
  display: none !important;
}

.project-card.hidden {
  display: none !important;
}

@media (min-width: 800px) {
  .navbar-expand-custom {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-custom .navbar-toggler {
    display: none;
  }
  .navbar-expand-custom .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-custom .navbar-nav {
    flex-direction: row;
  }
}

.navbar-nav .nav-link {
  margin: 0 0.5rem;
}